body{
    font-family: 'Poppins', serif; /*changes the font default to poppins then serif*/
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;

}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.nav_links{
    display: flex;
    align-items: center;
    flex-direction: column;
}

a[href*="#skip"] {/*sets the navigation links to blue after visiting as well*/
    color: #0000EE;
}

a[href*="#skip"]:visited {
    color: #0000EE;
}

a[href*="#pricing"] {
    color: #0000EE;
}

a[href*="#pricing"]:visited {
    color: #0000EE;
}

a[href*="#gallery"] {
    color: #0000EE;
}

a[href*="#gallery"]:visited {
    color: #0000EE;
}

@keyframes move { /*sets the animation for the header when the page loads*/
    0% {width: 25px; opacity: 0;}
    100% {width: 475px; opacity: 1;}
  }

#logo{ /*sets the animation to the logo at the top*/
    animation: 5s move;
}

.card{
    border-radius: 50px 50px 0px 0px;
    flex-basis: 450px; /*starts with a size of 450px*/
}

.card > header{
    background: #288088; /* styles the header of the card light blue and changes the borders*/
    border: solid 2px #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px 50px 0px 0px;
}

.pricing{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img{
    border: solid 10px #50C7C7; /*blue border around the images*/
    margin: 10px;
    width: 300px;
    
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

@media screen and (min-width: 900px) { /* applies different styling for desktop view*/
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .pricing{
        flex-basis: 275px; /* 275px for the pricing */
        align-items: center;
    }

    .card{
        flex-basis: 275px; /* 275px for the 3 cards */
    }

    body > header{
        position: sticky;/*fixes the header at the top*/
        top:0;
        width: 100%;
        z-index: 1;
    }

}

@media (prefers-reduced-motion) {
    #logo{ 
        /*removes animation if reduced motion is on*/
        animation: 0s;
    }
}

@media print { /*changes the styling for the printing page*/
    body{
        font-family: 'Poppins', serif; /*changes the font default to Arial then Helvetica*/
    }

    body > header{
        flex-direction: column;
    }

    .nav_links{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
    }

    .card{
        border: solid 2px #45ADDD;
        flex-basis: 325px;
        align-items: flex-end;
    }
    

    .pricing{
        flex-basis: 275px;
        align-items: end;
    }

    #gallery{
        display: none;
    }

    .gallery{
        display: none;
    }

    
}